extends layout

block content
  .container
    img.back(src='/images/aboutus.jpg' alt='about-us' width='100%')
    .text-center
      p.text-center
        |I am from Tunisia, Monastir. A place of beauty and nature. Since my childhood, i love art and design. I always try to design stuff with my unique point of view, Coding is also an art for me. I love it and now I have the opportunity to design along with the coding. I find it really interesting and I enjoyed the process a lot.

  
