extends layout

block content
    .conatiner
        img.backs(src='/images/ouservice.jpg')
        h1 Our service
        p 
            | development of web application, and also mobile application, making everthing beautiful with our graphic designer :)
